/* html 영역 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#m_visual{
    scroll-behavior: smooth ;
}
:root{
    /* color */
    --main-color : #377b7c;
    --main-shadow : #377b7c60;
    --contents-color : #777777;

    /* --font-color */
    
}
ul, li {
    list-style: none;
}
a{
    color: #333333;
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
button{
    border: none;
    background:none;
}



/* header 영역 */
#header_top {
    display: none;
}
#header_wrap{
    background-color: #fafafa;    
}
#header {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    width: 1200px;
    height: 75px;
    margin: 0 auto;
}
#menu_icon{
    display: none;
}
#logo > a > .m_logo1{
    display: none;
    color: #333333;
}
.m_logo2{
    display: none;
}
#logo {
    display: block;
    height: 100px;
    width:  300px;
    margin-bottom: 20px;
}

#logo > a {
    display: flex;
    align-items: center
}
#logo > a > span{
    display: inline-block;
    top : 40px;
    margin: 50px 0 0 0 ;
    font-size: 80px;
    font-family: 'GmarketSansBold';
    font-weight: 700;
    text-shadow: 5px 4px #33333360;
    
}
#logo > a > span:hover{
    color : #377b7c;
    transition-duration: 0.5s;
}

#gnb{
    float: right;
    display: flex;
    justify-content: end;
    width: 900px;
    padding: 0 0 0 100px;
    align-items: center;
}
#gnb > li {
    display: flex;
    justify-content: flex-start;
    width: 130px;
    height: 50px;
    margin-top: 27px;
    padding-right: 13px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}
#gnb > li > span {
    padding : 15px;
    margin-left: -17px;
    font-size: 20px;
    width: 80px;
    height: 50px;

}
#gnb > li:hover{
    color : #fefefe;
    background-color: var(--main-color);
    transition-duration: 0.5s;
    
}
#gnb > li > span > a {
    font-family: 'GmarketSansMedium';
    font-size: 16px;
}
.gnb_span {
    margin-right: -10px !important;
}
.gnb_span2 {
    margin-right: 0px !important;
    font-size: 18px !important;
    width: 78px !important;
    padding-top: 16px !important;
    letter-spacing: 0.5px;
    padding: 16px 15px 15px 8px !important;
}
.icon_position{
    background-repeat: no-repeat;
    background-size: 57%;
    background-position: 50% 50%;
    width: 50px;
    height: 50px;
}
.icon_position2{
    background-repeat: no-repeat;
    background-size: 47%;
    background-position: 25% 50%;
    width: 50px;
    height: 50px;
}
#m_gnb{
    display: none;
}
#pointer_init > a > img {
    display: none;
}


/* visual 영역 */
#visual_wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 700px;
    background-color: var(--main-color);
    background-attachment: fixed;
}
#w_visual {
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 650px;
    margin: 0 auto;
}
#m_visual {
   display: none;
}
#about_card {
    margin: 0 50px 0 50px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}
#about_card > ul {
    width: 400px;
    height: 600px;
    margin-top: 50px;
    scroll-margin-top: 50px ;
    scroll-snap-align : center;

}
#photo {
    position: sticky;
    height: 600px;
    width: 400px;
    margin: 50px;
    padding: 20px;
    background-color: #e4eaea;
    border-radius: 15px;
    border: 2px solid #333;
}
#photo > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #e4eaea;

}
.card1{
    background-color: #e4eaea;
    border-radius: 15px;
    border: 2px solid #333;
    padding : 30px
}
#card1_img{
    display: inline-block;
    width: 58%;
    height: 70%;
}   
.card1 > #about_me_contents {
    float: right;
    width: 42%;
    height: 70%;
    margin: 30px 0 0 0;
    padding: 0 20px 0 10px;
    border-left: 3px dotted #777777;
}
.card1 > h2 {
    padding : 10px 0 0 10px;
    font-size: 30px;
    margin-bottom: 40px;
    color: #377b7c;
    text-shadow: 3px 1.5px #377b7c60 ;
    font-family: 'GmarketSansMedium';
    font-weight: 800;
}
.card1 > div > img{
    height: 100%;
    margin: 30px 0 0 10px;
}

.date {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'GmarketSansMedium';
}
.contents_title {
    font-size: 24px;
    word-break:keep-all;
    font-family: 'GmarketSansMedium';
    font-weight: 700;
}
.contents {
    margin-top: 50px;
    font-size: 16px;
    color:var(--contents-color);
    font-family: 'GmarketSansMedium';

}

/*skills 영역*/

.skill_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    height: 30px;
}
.skill_icon > img{
    width: 50px;
    height: 50px;
}
.skill_icon > span{
    margin-top: 10px;
    text-align: center;
    font-family:  'GmarketSansMedium';
    color:var(--contents-color);
}
#first{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#seconds{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
#third{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}

#w_typing>span{
    display: block;
    height: 150px;
    width: 100%;
    text-align: center;
    font-family: 'ChosunBg';
    text-shadow: 3px 2px #33333360;
    font-size: 60px;
    padding: 40px;
}
.typing{
    height: 150px;
    margin: 0 auto;
}

/* project 영역 */

#project_wrap{
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    /* padding-top: 150px; */
}
#project_wrap > li{
    width: 300px;
    height: 500px;
    padding: 15px 10px 10px 10px;
    border: 5px solid rgba(180, 175, 175, 0.8);
    border-radius: 30px;
    background-color: #e4eaea;
}

#project_wrap > li >h3 {
    text-align: center;
    margin : 20px;
    font-size: 32px;
    font-family: "GmarketSansMedium" ;
}
.off{
    display: none;
}
.on{
    display: inline-block;
    position: absolute;
    top : 100px ;
    width: 1000px;
    height: 600px;
    background-color: #377b7c;
    border: 5px solid rgba(180, 175, 175, 0.8);
    border-radius: 30px;
}

#project_wrap > li:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}
.on > div {
    height: 50px;
    display: block;
    text-align: right;
}
.on >div> button{
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    font-size: 30px;
    color: #333333;
}
.project_photo {
    white-space:nowrap; 
    overflow-y:hidden;
    padding : 0 15px 0 15px
}
.project_photo > li {
    display: inline-flex;
    margin: 0 15px 0 15px;
    width: 300px;
    height: 200px;
}
#project_wrap > li > div{
    width: 100%;
    height: 40%;
   
}
.pj1_main_img{
    background-image: url(/public/img/test_img/test1.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
}

/* etc */
#gnb > li:hover > .gnb_icon1{
    background-image: url("/public/img/home_hover.png");
    
}
.gnb_icon1{
    background-image: url("/public/img/home_basic.png");
}
#gnb > li:hover > .gnb_icon2{
    background-image: url("/public/img/id-card_hover.png");
    
}
.gnb_icon2{
    background-image: url("/public/img/id-card_basicpng.png");
}
#gnb > li:hover > .gnb_icon3{
    background-image: url("/public/img/paper_hover.png");
    
}
.gnb_icon3{
    background-image: url("/public/img/paper_basic.png");
}
#gnb > li:hover > .gnb_icon4{
    background-image: url("/public/img/contact_hover.png");
    
}
.gnb_icon4{
    background-image: url("/public/img/contact_basic.png");
}
#gnb > li:hover > .gnb_icon5{
    background-image: url("/public/img/expre-hover.png");
    
}
.gnb_icon5{
    background-image: url("/public/img/expre-basic.png");
}

/* 폰트 */
@font-face {
    font-family: 'ChosunBg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunLo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunLo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunSg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunSg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}