@media(max-width : 768px){

html{
    scroll-snap-type: y mandatory;
}

/* header 영역 */
#header_top{
    display: inline-block;
    position: absolute;
    top : 50%;
    margin: 30px;
    width: 80%;
    height: 30%;
    font-family: 'ChosunBg';
}
#header_top{
    font-size: 45px;
}

#header_wrap{
    background-color: #fafafa;
    scroll-snap-align: center;
    scroll-snap-stop: always;  
    transition: all 500ms;

}
#header {
    width: 100vw;
    height: 100vh;    
}
#menu_icon{
    display: block;
    float: right;
    margin: 30px;
    background: #ffffff;
    font-size: large;
    border: none;
}
#img {
    display: none;
}
#logo{
    margin-right: 55% ;
    
}
#logo > a > .w_logo{
    display: none;
}

#logo > a >.m_logo1{
    display: block;
    width: 300px;
    padding : 0 0 0 30px;
}
.m_logo2{
    display:block;
    writing-mode: vertical-rl;
    width: 100px;
    height: 300px;
    margin: 10px 0 0 224px;
    font-size: 60px;
    font-family: 'ChosunBg';
    color: #377b7c;
}
#gnb{
    display: none;
}
#m_gnb{
    display: inline-block;
    position: absolute;
    top:100px; bottom: 100px; left: 10vw; right: 10vw;
    width: 80vw;
    height: 120vw;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #666;
    border-radius: 10px;
    transition: all 1s;
    opacity: 1 ;
}
.m_gnb_off{
    margin-top : -660px;
    margin-left : 400px;
    transition: all 1s;
    opacity: 0 !important ;   
}
.close{
    float: right;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #333333;
    border: none;
    background: none;
}

.m_gnb_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.gnb_span > a, .gnb_span2 > a {
    font-size: 26px;
    font-family: 'ChosunLo';
    
}
.m_gnb_menu > li{
    display: inline-block;
}
.m_gnb_menu > li > div {
    margin: 0 auto;
}
#pointer_init > a > img{
    display: inline-block;
    position: absolute;
    bottom:40px; 
    right: calc( 50% - 25px ); 
    width: 50px;
    height: 100px;
    animation-name: pointerInit ;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}

@keyframes pointerInit {
    0%, 100%{
        margin-bottom: 0px;
    }
    50% {
        margin-bottom:  20px;
    }
}
.pointer_about {
    float: right;
}
.pointer_about > a > img{
    width: 100px;
    height: 80px;
}

/* visual 영역 */
#visual_wrap {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    background-color: #fafafa;
}
#w_visual {
    display: none;
}
#m_visual{
    display: block;
    scroll-snap-stop: always;
}
#m_about_card{
    display: flex;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
#m_about_card > ul {
    width: 100vw;
    height: 100vh;
    padding: 20vh 5vw 20vh 5vw;
    
}
.item {
    scroll-snap-align: start;
}

.card_box {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 3px solid #666;
    border-radius: 15px;
}
.card_box > img {
    width: 100%;
    height: 100%;
    border: 3px solid #666;
    border-radius: 15px;
}
/* project 영역 */

#project_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 50px;
    scroll-snap-stop: always;
    scroll-snap-align: center;
}
#project_wrap > li{
    width: 300px;
    height: 500px;
    border: 5px solid rgba(180, 175, 175, 0.8);
    border-radius: 30px;
    background: #333333;
}

.off{
    display: none !important;
}
.on{
    display: inline-block;
    position: absolute;
    top : 100px ;
    width: 90%;
    height: 80vh;
    border-radius: 30px;
}

#project_wrap > li:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}
.on > div {
    height: 50px;
    display: block;
    text-align: right;
}
.on >div> button{
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    font-size: 30px;
    color: #333333;
}
.project_photo {
    white-space:nowrap; 
    overflow-y:hidden;
    padding : 0 15px 0 15px
}
.project_photo > li {
    display: inline-flex;
    margin: 0 15px 0 15px;
    width: 400px;
    height: 200px;
}


/* etc */
#gnb > li:hover > .gnb_icon1{
    background-image: url("/public/img/home_hover.png");
    
}
.gnb_icon1{
    background-image: url("/public/img/home_basic.png");
}
#gnb > li:hover > .gnb_icon2{
    background-image: url("/public/img/id-card_hover.png");
    
}
.gnb_icon2{
    background-image: url("/public/img/id-card_basicpng.png");
}
#gnb > li:hover > .gnb_icon3{
    background-image: url("/public/img/paper_hover.png");
    
}
.gnb_icon3{
    background-image: url("/public/img/paper_basic.png");
}
#gnb > li:hover > .gnb_icon4{
    background-image: url("/public/img/contact_hover.png");
    
}
.gnb_icon4{
    background-image: url("/public/img/contact_basic.png");
}
#gnb > li:hover > .gnb_icon5{
    background-image: url("/public/img/expre-hover.png");
    
}
.gnb_icon5{
    background-image: url("/public/img/expre-basic.png");
}

/* 폰트 */
@font-face {
    font-family: 'ChosunBg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunLo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunLo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}