@media(max-width : 768px){

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
#loading{
    display: none;
}
.loading{
    display: none;
}
/* header 영역 */
#header_top{
    display: inline-block;
    position: absolute;
    top : 50%;
    margin: 30px;
    width: 80%;
    height: 30%;
    font-family: 'ChosunBg';

}
#header_top{
    font-size: 45px;
}

#header_wrap{
    scroll-snap-align: center;
    scroll-snap-stop: always;  
    transition: all 500ms;
    height: 100vh;
}
#header {
    width: 100vw;
    height: 100vh;    
}
#menu_icon{
    display: block;
    float: right;
    margin: 30px;
    background: #ffffff;
    font-size: 30px;
    border: none;
}
#img {
    display: none;
}
#logo{
    margin-right: 55% ;
    
}
#logo > a > .w_logo{
    display: none;
}

#logo > a >.m_logo1{
    font-family: 'GmarketSansBold';
    font-size: 60px;
    display: block;
    width: 300px;
    padding : 0 0 0 50px;
    text-shadow: 5px 4px #33333360;
}
.m_logo2{
    display:block;
    writing-mode: vertical-rl;
    width: 100px;
    height: 300px;
    margin: -7px 0 0 220px;
    font-size: 52px;
    font-family: 'GmarketSansBold';
    color: var(--main-color);
    /* text-shadow: 3px 5px var(--main-shadow) ; */
}
.typing{
    font-family: 'ChosunBg';
    text-shadow: 2px 1px #33333360;

}
#gnb{
    display: none;
}
#m_gnb{
    display: inline-block;
    position: absolute;
    top:100px; bottom: 100px; left: 10vw; right: 10vw;
    width: 80vw;
    height: 120vw;
    background-color: #ffffff;
    box-shadow: 5px 5px 15px #666;
    border-radius: 10px;
    transition: all 1s;
    opacity: 1 ;
}
#m_gnb > img {
    position: absolute;
    left: 6.5rem;
}
.m_gnb_off{
    margin-top : -660px;
    margin-left : 400px;
    transition: all 1s;
    opacity: 0 !important ;   
}
.close{
    float: right;
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: #333333;
    border: none;
    background: none;
}

.m_gnb_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}
.gnb_span > a, .gnb_span2 > a {
    font-size: 20px;
    font-family: 'GmarketSansMedium';
    
}
.m_gnb_menu > li{
    display: inline-block;
}
.m_gnb_menu > li > div {
    margin: 0 auto;
}
#pointer_init > a > img{
    display: inline-block;
    position: absolute;
    bottom:30px; 
    right: calc( 50% - 25px ); 
    width: 50px;
    height: 50px;
    animation-name: pointerInit ;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
}

@keyframes pointerInit {
    0%, 100%{
        margin-bottom: 0px;
    }
    50% {
        margin-bottom:  20px;
    }
}

/* visual 영역 */
#visual_wrap {
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background-color: #fafafa !important;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
}
@keyframes projectz {
    0%, 100%{
        transform: scale(1);

    }
    50% {
        transform: scale(1.01);

    }
}
#w_visual {
    display: none;
}
#m_visual{
    display: block;
    scroll-snap-stop: always;
    scroll-behavior: smooth ;
}
#m_about_card{
    display: flex;
    scroll-snap-align: start end;
    scroll-snap-stop: always;
}
#m_about_card > div {
    width: 100vw;
    height: 100vh;
    padding: 20vh 5vw 20vh 5vw;
    scroll-snap-align: start end;
    scroll-snap-stop: always;
    
}
.item {
    scroll-snap-align: start;
}

.card_box {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #377b7c20;
    border: 2px solid #666;
    border-radius: 15px;
    /* overflow-y: scroll; */
}
.card_box > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
/*Visual_Card 하단 pointer*/
.pointer_r{
    float: right;
}
.pointer_r > a > img{
    width: 80px;
    height: 60px;
    margin-top : -3px
}
.pointer_l{
    float: left;
}
.pointer_l > a > img{
    width: 80px;
    height: 60px;
}
/*Visual_card 내용 CSS*/
.item > h2 {
    position: absolute;
    top : 120px;
    left: 30px;
    font-size: 30px;
    color: #377b7c;
    text-shadow: 3px 1.5px #377b7c60 ;
    font-family: 'ChosunBg';

}

.card_box > h2{
    margin: 0 0 20px 0;
    font-size: 30px;
    color: #377b7c;
    text-shadow: 3px 1.5px #377b7c60 ;
    font-family: 'ChosunBg';
}
.card_box > h4{
    margin: 0 0 20px 0;
    font-size: 16px;
    color: #377b7c;
    font-family: 'ChosunBg';
}   
.gith_history{
    width: 40vw;
    height: 44vh;
    margin-top: 20px;
    margin-left: 10px;
}
.about_me_contents {
    width: 33vw;
    height: 45vh;
    margin: 20px 0 0 0;
    font-size: 12px;
    padding: 0 20px 0 10px;
    border-left: 3px dotted #777777;
}
.first_his {
    grid-area: first;
}

.seconds_his{
    grid-area: seconds;
}
.thrid_his{
    grid-area: thrid ;
}
.date {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'GmarketSansMedium';
}
.contents_title {
    font-size: 24px;
    word-break:keep-all;
    font-family: 'GmarketSansMedium';
    font-weight: 700;
}
.contents {
    margin-top: 50px;
    font-size: 16px;
    color:var(--contents-color);
    font-family: 'GmarketSansMedium';

}
/*skills*/

#first{
    margin-top : 0;
}


#w_typing{
    display: none;
}
/* project 영역 */

#project_wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* grid-template-columns: 100% ; */
    /* grid-template-rows: repeat(4, 22.3%) ; */
    /* grid-gap: 30px; */
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 30px;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    overflow : hidden;
}
#project_wrap > li{
    width: 21rem;
    height: 37.5rem;
    margin-right:3rem ;
    position: absolute;
    border: 5px solid rgba(180, 175, 175, 0.8);
    border-radius: 30px;
    background-color: #e4eaea;
    scroll-snap-stop: always;
    scroll-snap-align: center;
    background-attachment: fixed;
    margin-bottom: 100px;
    opacity: 1;
    transition: all 1s;

}
#project_wrap > li > div{
    height: 300px;
    border-radius: 15px;
    margin: 0 auto;
}
#project_wrap > li >h3 {
    margin : 10px;
}
.project_form{
    display: block;
}

.off{
    display: none !important;
}
.off_project{
    opacity: 0 !important;
    transition: all 1s;
}
.on{
    display: inline-block;
    position: absolute;
    top : 100px ; left: 10px; right: 10px;
    width: 90%;
    height: 80vh;
    border-radius: 30px;
    margin: 0 auto;
}

#project_wrap > li:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}
.on > div {
    height: 50px;
    display: block;
    text-align: right;
}
.on >div> button{
    margin: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    font-size: 30px;
    color: #333333;
}

.info_table {
    width: 90%;
    border: 4px solid #333333;
    height: 43vh !important;
    margin: 35px auto 20px;
}
.info_table > ul {
    display: flex;
    height: 20%;
    border: 1px solid #333333;
    text-align: left;
}
.info_table > ul > li{
    height: auto;
    margin: auto 0 ;
}
.info_table > ul > li:nth-child(1) {
    width: 30%;
    font-size: 16px;
    word-break: keep-all;
    text-align: center;
}
.info_table > ul > li:nth-child(2) {
    width: 70%;
    font-size: 12px;
    word-break: keep-all;
    padding-left: 20px;
    border-left: 1px solid #333333;
}
.project_photo {
    white-space:nowrap; 
    overflow-y:hidden;
    padding : 0 15px 0 15px;
    margin: 10px;
}
.project_photo > a > li {
    display: inline-flex;
    margin: 0 15px 0 15px;
    width: 400px;
    height: 200px;
}
#info_btn{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 38vh;
}
#next_btn{
    transform: rotate(-90deg);
}
#prev_btn{
    transform: rotate(90deg);
}


/* contact 영역 */
#contact_wrap{
    margin-top: 100vh;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;  
}
.contact_form {
    width: 100%;
    height: 170px;
    padding: 10px;
}
.contact_form >div > div {
    margin-top: 20px;
    font-weight: 700;
}
#contact {
    display: grid;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: auto;
    grid-template-columns: 260px;
    grid-template-rows: auto;
}
#footer_wrap {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    height: 100vh;
    width: 100vw;
}
#footer {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
    width: 100vw;
    height: 80vh;
}
#footer > div {
    margin-right: 22px;
    width: 255px;
    word-break: keep-all;
    text-align: end;
    
}
#footer > div > span {
    width: 100%;
}
#footer_logo{
    margin : 0
}
.footer_name{
    margin-bottom: 10px;
}
.footer_copyright{
    margin-top: 20px;
    font-size: 12px;
}
#back{
    display: inline-block;
    width: 70px;
    height: 70px;
    position: relative;
    left: calc(50vw - 35px);
    bottom:80px;
    z-index: 999;
    transform: scaleY(-1);
}
}